@page "/restaurante/detalhes-restaurante"
@using RedRidersNew.Components.Layout.LayoutRestaurante
@layout MainLayoutRestaurante

<PageTitle>Detalhes do Restaurante</PageTitle>

<div class="container py-4">
    <NavBarRestaurante />

    <img src="https://i.pinimg.com/474x/01/37/6c/01376c4055b212aae29cbffef1ae019b.jpg"
         alt="Imagem do Restaurante"
         class="img-fluid banner-img shadow-sm mb-4" />

    <div class="card p-4 shadow-sm">

        <h4 class="mb-3 fw-semibold border-bottom pb-2">Dados do Restaurante</h4>

        <div class="row g-3">

                        <!-- Nome Fantasia -->
            <div class="col-md-12">
                <label class="form-label fw-semibold">Nome Fantasia</label>
                <input class="form-control" />
            </div>

            <!-- Razão Social -->
            <div class="col-md-12">
                <label class="form-label fw-semibold">Razão Social</label>
                <input class="form-control" />
            </div>

            <!-- Imagem do Restaurante -->
            <div class="col-md-12">
                <label class="form-label fw-semibold">Imagem</label>
                <input class="form-control" />
            </div>


            <!-- CNPJ -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">CNPJ</label>
                <input class="form-control" />
            </div>


            <!-- CEP do Restaurante -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">CEP</label>
                <input class="form-control" />
            </div>

            <!-- Rua do Restaurante -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Rua</label>
                <input class="form-control" />
            </div>

            <!-- Numero -->
            <div class="col-md-3">
                <label class="form-label fw-semibold">Número</label>
                <input class="form-control" />
            </div>

            <!-- Complemento -->
            <div class="col-md-9">
                <label class="form-label fw-semibold">Complemento</label>
                <input class="form-control" />
            </div>

            <!-- Bairro -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Bairro</label>
                <input class="form-control" />
            </div>

            <!-- Cidade -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Cidade</label>
                <input class="form-control" />
            </div>

            <!-- Estado -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Estado</label>
                <input class="form-control" />
            </div>

            <!-- Ponto de Referência -->
            <div class="col-md-12">
                <label class="form-label fw-semibold">Ponto de Referência</label>
                <input class="form-control" />
            </div>

            <!-- Nome do Dono -->
            <div class="col-md-9">
                <label class="form-label fw-semibold">Nome do Dono</label>
                <input class="form-control" />
            </div>

            <!-- CPF do Dono -->
            <div class="col-md-3">
                <label class="form-label fw-semibold">CPF do Dono</label>
                <input class="form-control" />
            </div>

        </div>

    </div>
</div>
