@page "/restaurante/editar-restaurante"
@using RedRidersNew.Components.Layout.LayoutRestaurante
@layout MainLayoutRestaurante

<PageTitle>Editar Restaurante</PageTitle>

<div class="container py-4">
    <NavBarRestaurante />

    <div class="card p-4 mb-4 shadow-sm">

        <h4 class="mb-3 fw-semibold border-bottom pb-2">Editar Restaurante</h4>

        <div class="row g-3">

                        <!-- Nome Fantasia -->
            <div class="col-md-12">
                <label class="form-label fw-semibold">Nome Fantasia</label>
                <input class="form-control" />
            </div>

            <!-- Razão Social -->
            <div class="col-md-12">
                <label class="form-label fw-semibold">Razão Social</label>
                <input class="form-control" />
            </div>

            <!-- Imagem do Restaurante -->
            <div class="col-md-12">
                <label class="form-label fw-semibold">Imagem</label>
                <input class="form-control" />
            </div>


            <!-- CNPJ -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">CNPJ</label>
                <input class="form-control" />
            </div>


            <!-- CEP do Restaurante -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">CEP</label>
                <input class="form-control" />
            </div>

            <!-- Rua do Restaurante -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Rua</label>
                <input class="form-control" />
            </div>

            <!-- Numero -->
            <div class="col-md-3">
                <label class="form-label fw-semibold">Número</label>
                <input class="form-control" />
            </div>

            <!-- Complemento -->
            <div class="col-md-9">
                <label class="form-label fw-semibold">Complemento</label>
                <input class="form-control" />
            </div>

            <!-- Bairro -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Bairro</label>
                <input class="form-control" />
            </div>

            <!-- Cidade -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Cidade</label>
                <input class="form-control" />
            </div>

            <!-- Estado -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Estado</label>
                <input class="form-control" />
            </div>

            <!-- Ponto de Referência -->
            <div class="col-md-12">
                <label class="form-label fw-semibold">Ponto de Referência</label>
                <input class="form-control" />
            </div>

            <!-- Nome do Dono -->
            <div class="col-md-9">
                <label class="form-label fw-semibold">Nome do Dono</label>
                <input class="form-control" />
            </div>

            <!-- CPF do Dono -->
            <div class="col-md-3">
                <label class="form-label fw-semibold">CPF do Dono</label>
                <input class="form-control" />
            </div>

        </div>

        <div class="mt-4 d-flex justify-content-between">

            <!-- Botão Cancelar -->
            <button type="button" class="btn btn-soft-danger px-4">
                Cancelar
            </button>

            <!-- Botão Salvar -->
            <button class="btn btn-soft-primary px-4">
                Salvar Alterações
            </button>

        </div>

    </div>

</div>
