@page "/restaurante/gerenciar-restaurantes"
@using RedRidersNew.Components.Layout.LayoutRestaurante
@layout MainLayoutRestaurante

<PageTitle>Gerenciar Restaurantes</PageTitle>

<div class="container py-4">
    <NavBarRestaurante />

    <section class="mb-4">
        <div class="search-box">
            <input type="text" placeholder="Pesquisar restaurante..." />
            <button class="btn-search">Buscar</button>
            <NavLink href="restaurante/adicionar-restaurantes" class="btn btn-primary px-4 py-2 d-flex align-items-center gap-2">
                <i class="bi bi-plus-circle"></i>
            </NavLink>
        </div>
    </section>

    @* simulação de busca *@
    <div class="container py-4">

        <div class="row g-4">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                <div class="card shadow-sm border-0 h-100">
                    <div class="position-relative">

                        <img class="card-img-top"
                             src="https://i.pinimg.com/originals/43/1c/e5/431ce5d15aab86f66a91ec9a07c9114f.gif"
                             alt="Restaurante" />

                        <!-- faixa do título -->
                        <div class="titulo-faixa">
                            restaurante 1
                        </div>

                    </div>

                    <div class="card-body text-center">

                        <div class="btn-group w-100 btn-soft-group">
                            <button class="btn btn-soft-primary d-flex align-items-center justify-content-center gap-1">
                                <i class="bi bi-pencil-square"></i>
                            </button>

                            <button class="btn btn-soft-neutral d-flex align-items-center justify-content-center gap-1">
                                <i class="bi bi-eye"></i>
                            </button>

                            <button class="btn btn-soft-danger d-flex align-items-center justify-content-center gap-1">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>