@page "/entregador/corridas-disponiveis"
@using RedRidersNew.Components.Layout.LayoutEntregador
@layout MainLayoutEntregador

<PageTitle>Corridas Disponiveis</PageTitle>

<div class="container py-4">
    <NavBarCorridas/>

    <section class="mb-4">
        <div class="card p-3 shadow-sm border-0 d-flex">

            <div class="row g-3">

                <!-- Tipo de filtro -->
                <div class="col-12 col-md-6">
                    <label class="form-label fw-semibold">Filtrar por:</label>
                    <select class="form-select">
                        <option value="distancia" selected>Distância</option>
                        <option value="frete">Frete</option>
                        <option value="horario">Horário</option>
                        <option value="tamanho">Tamanho</option>
                    </select>
                </div>

                <!-- Ordem -->
                <div class="col-12 col-md-6">
                    <label class="form-label fw-semibold">Ordem:</label>
                    <select class="form-select">
                        <option value="asc" selected>Crescente</option>
                        <option value="desc">Decrescente</option>
                    </select>
                </div>

            </div>
        </div>
    </section>



    @* aqui dentro deve ser buscado todas solicitações de entregas com o status parada ou seila...*@
    <section class="corridas-lista">

        <!-- card de corrida -->
        <div class="card shadow-sm border-0 mb-3 p-3">
            <div class="row align-items-center g-3">

                <!-- IMAGEM -->
                <div class="col-12 col-md-3">
                    <img src="https://i.pinimg.com/736x/e1/ff/03/e1ff03b0c942464ed8c66f03eedafc08.jpg"
                         class="img-corrida rounded"
                         alt="Item" />
                </div>

                <!-- INFORMAÇÕES -->
                <div class="col-12 col-md-6">
                    <h5 class="fw-semibold mb-2">Nome do pedido</h5>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Ponto de retirada:</strong> Rua Principal, 123
                    </p>

                    @* não deve ser mostrado o endereço completo antes do runner aceitar a corrida*@
                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Ponto de entrega:</strong> Bairro tucunaré...
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Horário de retirada:</strong> 13:30
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Frete Total:</strong> R$ 19.99
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Tamanho do Pedido:</strong> médio
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Distância aproximada entre os pontos:</strong> 3.2km
                    </p>

                </div>

                <!-- AÇÃO -->
                <div class="col-12 col-md-3 text-md-end text-center">
                    @* ao clicar em aceitar corrida o status deve mudar para "marcada"*@
                    <button class="btn btn-primary btn-search w-100 mt-2 mt-md-0">
                        Aceitar corrida
                    </button>
                </div>

            </div>
        </div>

        <div class="card shadow-sm border-0 mb-3 p-3">
            <div class="row align-items-center g-3">

                <!-- IMAGEM -->
                <div class="col-12 col-md-3">
                    <img src="https://i.pinimg.com/736x/f1/d0/f9/f1d0f9455ebbda33179c19984af7bbb5.jpg"
                         class="img-corrida rounded"
                         alt="Item" />
                </div>

                <!-- INFORMAÇÕES -->
                <div class="col-12 col-md-6">
                    <h5 class="fw-semibold mb-2">Nome do pedido</h5>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Ponto de retirada:</strong> Rua Principal, 123
                    </p>

                    @* não deve ser mostrado o endereço completo antes do runner aceitar a corrida*@
                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Ponto de entrega:</strong> Bairro tucunaré...
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Horário de retirada:</strong> 13:30
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Frete Total:</strong> R$ 19.99
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Tamanho do Pedido:</strong> médio
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Distância aproximada entre os pontos:</strong> 3.2km
                    </p>

                </div>

                <!-- AÇÃO -->
                <div class="col-12 col-md-3 text-md-end text-center">
                    @* ao clicar em aceitar corrida o status deve mudar para "marcada"*@
                    <button class="btn btn-primary btn-search w-100 mt-2 mt-md-0">
                        Aceitar corrida
                    </button>
                </div>

            </div>
        </div>

        <div class="card shadow-sm border-0 mb-3 p-3">
            <div class="row align-items-center g-3">

                <!-- IMAGEM -->
                <div class="col-12 col-md-3">
                    <img src="https://i.pinimg.com/736x/5c/af/ba/5cafba50374ef94af68d66e4141bb71d.jpg"
                         class="img-corrida rounded"
                         alt="Item" />
                </div>

                <!-- INFORMAÇÕES -->
                <div class="col-12 col-md-6">
                    <h5 class="fw-semibold mb-2">Nome do pedido</h5>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Ponto de retirada:</strong> Rua Principal, 123
                    </p>

                    @* não deve ser mostrado o endereço completo antes do runner aceitar a corrida*@
                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Ponto de entrega:</strong> Bairro tucunaré...
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Horário de retirada:</strong> 13:30
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Frete Total:</strong> R$ 19.99
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Tamanho do Pedido:</strong> médio
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Distância aproximada entre os pontos:</strong> 3.2km
                    </p>

                </div>

                <!-- AÇÃO -->
                <div class="col-12 col-md-3 text-md-end text-center">
                    @* ao clicar em aceitar corrida o status deve mudar para "marcada"*@
                    <button class="btn btn-primary btn-search w-100 mt-2 mt-md-0">
                        Aceitar corrida
                    </button>
                </div>

            </div>
        </div>

        <div class="card shadow-sm border-0 mb-3 p-3">
            <div class="row align-items-center g-3">

                <!-- IMAGEM -->
                <div class="col-12 col-md-3">
                    <img src="https://i.pinimg.com/736x/0d/f4/a0/0df4a0b66d8d8cf3b3b648eae41126ad.jpg"
                         class="img-corrida rounded"
                         alt="Item" />
                </div>

                <!-- INFORMAÇÕES -->
                <div class="col-12 col-md-6">
                    <h5 class="fw-semibold mb-2">Nome do pedido</h5>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Ponto de retirada:</strong> Rua Principal, 123
                    </p>

                    @* não deve ser mostrado o endereço completo antes do runner aceitar a corrida*@
                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Ponto de entrega:</strong> Bairro tucunaré...
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Horário de retirada:</strong> 13:30
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Frete Total:</strong> R$ 19.99
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Tamanho do Pedido:</strong> médio
                    </p>

                    <p class="mb-1 text-secondary">
                        <strong class="text-dark">Distância aproximada entre os pontos:</strong> 3.2km
                    </p>

                </div>

                <!-- AÇÃO -->
                <div class="col-12 col-md-3 text-md-end text-center">
                    @* ao clicar em aceitar corrida o status deve mudar para "marcada"*@
                    <button class="btn btn-primary btn-search w-100 mt-2 mt-md-0">
                        Aceitar corrida
                    </button>
                </div>

            </div>
        </div>
    </section>

</div>