.card-corrida {
    width: 300px;
    border-radius: 12px;
}

.img-corrida {
    max-width: 300px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card {
    background: linear-gradient(90deg, #ede7f6, #f3e5f5);
}