@page "/entregador/corridas-disponiveis"
@using RedRidersNew.Components.Layout.LayoutEntregador
@layout MainLayoutEntregador

<PageTitle>Corridas Disponiveis</PageTitle>

<div class="container py-4">
    <NavBarCorridas/>
</div>