@page "/entregador/veiculos"
@using RedRidersNew.Components.Layout.LayoutEntregador
@layout MainLayoutEntregador

<PageTitle>Meus Veículos</PageTitle>

<div class="container py-4">
    <NavBarVeiculos/>
</div>