@inherits LayoutComponentBase

<div class="App">
    <header>
        <NavMenu />
    </header>
    <main style="display:flex">
        <SideBarEntregador />
        @Body
    </main>
    <footer>
        <Rodape />
    </footer>
</div>