@rendermode InteractiveServer

<nav class="subNavbar">
    <NavLink href="/entregador/corridas-disponiveis" Match="NavLinkMatch.All">Corridas Disponiveis</NavLink>
    <NavLink href="/entregador/corridas-pendentes">Corridas Pendentes</NavLink>
    <NavLink href="/entregador/corridas-feitas">Corridas Feitas</NavLink>
    <NavLink href="/entregador/corridas-abortadas">Corridas Abortadas</NavLink>
</nav>
