<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="app.css" />

    <link rel="stylesheet" href="RedRidersNew.styles.css" />

    <link rel="stylesheet" href="css/rodape.css" />
    <link rel="stylesheet" href="css/estilosSideBar.css" />
    <link rel="stylesheet" href="css/subNavbar.css" />
    <link rel="stylesheet" href="css/searchBar.css"/>
    <link rel="stylesheet" href="css/estiloBase.css"/>

    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
