@page "/restaurante/cadastrar-cliente"
@using RedRidersNew.Components.Layout.LayoutRestaurante
@layout MainLayoutRestaurante

<PageTitle> Cadastrar Cliente </PageTitle>

<div class="container py-4">
    <NavBarClientes />

    <div class="card p-4 mb-4 shadow-sm">

        <h4 class="mb-3 fw-semibold border-bottom pb-2">Cadastro de Cliente</h4>

        <div class="row g-3">

            <!-- Nome -->
            <div class="col-md-6">
                <label class="form-label fw-semibold">Nome do Cliente</label>
                <input class="form-control" />
            </div>

            <!-- Telefone -->
            <div class="col-md-6">
                <label class="form-label fw-semibold">Telefone</label>
                <input class="form-control" />
            </div>

            <!-- Imagem -->
            <div class="col-md-12">
                <label class="form-label fw-semibold">URL da Imagem</label>
                <input class="form-control" />
            </div>

            <h5 class="mt-4 fw-semibold border-bottom pb-2">Endereço</h5>

            <!-- CEP -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">CEP</label>
                <input class="form-control" />
            </div>

            <!-- Rua -->
            <div class="col-md-8">
                <label class="form-label fw-semibold">Rua</label>
                <input class="form-control" />
            </div>

            <!-- Número -->
            <div class="col-md-3">
                <label class="form-label fw-semibold">Número</label>
                <input class="form-control" />
            </div>

            <!-- Complemento -->
            <div class="col-md-9">
                <label class="form-label fw-semibold">Complemento</label>
                <input class="form-control" />
            </div>

            <!-- Bairro -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Bairro</label>
                <input class="form-control" />
            </div>

            <!-- Cidade -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Cidade</label>
                <input class="form-control" />
            </div>

            <!-- Estado -->
            <div class="col-md-4">
                <label class="form-label fw-semibold">Estado</label>
                <input class="form-control" />
            </div>

            <!-- Referência -->
            <div class="col-12">
                <label class="form-label fw-semibold">Ponto de Referência</label>
                <input class="form-control" />
            </div>

        </div>

        <div class="mt-4 text-end">
            <button class="btn btn-soft-primary px-4">Cadastrar</button>
        </div>

    </div>

</div>
