<nav class="subNavbar">
    <NavLink href="/restaurante/solicitar-entregas" Match="NavLinkMatch.All">Registrar pedidos</NavLink>
    <NavLink href="/restaurante/pedidos-em-aberto">Pedidos em Aberto</NavLink>
    <NavLink href="/restaurante/pedidos-realizados">Pedidos Finalizados</NavLink>
</nav>