@rendermode InteractiveServer

<nav class="subNavbar">
    <NavLink href="/restaurante/gerenciar-cardapios" Match="NavLinkMatch.All">Gerenciar Cardapios</NavLink>
    <NavLink href="/restaurante/gerenciar-pratos">Gerenciar Pratos</NavLink>
</nav>