<nav class="subNavbar">
    <NavLink href="/restaurante/solicitar-entregas" Match="NavLinkMatch.All">Registrar pedidos</NavLink>
    <NavLink href="/restaurante/entregas-solicitadas">Pedidos em Aberto</NavLink>
    <NavLink href="/restaurante/entregas-finalizadas">Pedidos Finalizados</NavLink>
</nav>