@rendermode InteractiveServer

@* exibir | cadastrar | editar ou remover *@
<nav class="subNavbar">
    <NavLink href="/restaurante/gerenciar-restaurantes" Match="NavLinkMatch.All">Meus Restaurantes</NavLink>
</nav>