.img-square {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
}

.card {
    border-radius: 12px;
}

h5 {
    color: #182848; /* sua cor padrão */
    font-weight: 600;
}
