.menu-scroll {
    overflow-y: auto;
    max-height: 165px;
    padding-right: 5px;
}

    /* Barra de rolagem bonita */
    .menu-scroll::-webkit-scrollbar {
        width: 6px;
    }

    .menu-scroll::-webkit-scrollbar-thumb {
        background: #4b4bb7;
        border-radius: 6px;
    }

    .menu-scroll::-webkit-scrollbar-track {
        background: transparent;
    }

.btn.btn-outline-primary {
    background: linear-gradient(90deg, #ede7f6, #f3e5f5);
    border-color: #d1c4e9;
    color: black;
}

.btn.btn-outline-primary:hover {
    color:white;
}

.menu-scroll-itens {
    max-height: 320px;
}

